<form>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label for=""><b>Name</b></label>
                <input 
                    type="text" 
                    class="form-control"
                    #nameIput
                >
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for=""><b>Amount</b></label>
                <input 
                    type="number" 
                    class="form-control"
                    #amountIput
                >
            </div>
        </div>
        <div class="col-12 mt-2">
            <button class="btn btn-success" type="button" (click)="onAddIngredients()">Add</button> &nbsp;
            <button class="btn btn-danger"  type="button">Delete</button> &nbsp;
            <button class="btn btn-primary" type="reset">Clear</button>
        </div>
    </div>
</form>