<div class="row">
    <div class="col-10 m-auto">
        <div class="app-wrapper">
            <app-header></app-header>
            <app-task-count></app-task-count>
            <app-tasks-container *ngIf="showTaskContainer">
                <app-task *ngFor="let task of taskService.allTasks;let index = index" [task]="task" [taskIndex]="index"></app-task>
            </app-tasks-container>
            <app-create-task (createTask)="createTaskHandler($event)"></app-create-task>
        </div>
    </div>
</div>