<div class="card mb-2 col-12 bg-body-tertiary">
 <div class="card-body">
    <h4 class="mb-2 shadow rounded">{{task.name}}</h4>
    <div class="col-4">
        <div class="shadow rounded pt-1 pb-1 pl-2">
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input 
                            class="form-check-input" type="checkbox"
                            [id]="completedCheckId" 
                            (change)="changeStatus($event)"
                            value="Completed"
                            #completedCheck
                        >
                        <label class="form-check-label" [for]="completedCheckId">Completed</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input  
                            class="form-check-input" type="checkbox"
                            [id]="inProgressCheckId"
                            (change)="changeStatus($event)"
                            value="In Progress"
                            #inProgressCheck
                        >
                        <label class="form-check-label" [for]="inProgressCheckId">In Progress</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>