<div class="row mt-5">

    <div class="col-12">
        <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 300px;width: 100%;">
        <h4>{{recipe.name}}</h4>
    </div>

    <div class="col-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">Primary</button>
            <ul class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-start">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
    </div>

    <div class="col-12">
        {{recipe.description}}
    </div>

    <div class="col-12">
        Ingredeints
    </div>

</div>