<p>servers works!</p>

<!-- <label for=""><strong>Server Name:</strong></label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p> -->

<label for=""><strong>Server Name:</strong></label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<button (click)="onCreateServer()" class="btn btn-primary" [disabled]="serverName ===''">
    Add Server
</button>
<br>


<p *ngIf="serverAdded else noServer"> The server was created with name {{serverName}}</p>
<ng-template #noServer><p>No Server has been added !</p></ng-template>
<!-- The Sereve with ID {{serverId}} is {{getServerStatus()}} -->
<app-server *ngFor="let server of servers"></app-server>

