<div class="container">
    <div class="row">
      <div class="col-12">
        <app-cockpit 
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBluePrintAdded($event)"
        ></app-cockpit>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">
          Change first element
        </button> &nbsp;
        <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
        <app-server-element 
            *ngFor="let serverElement of serverElements" 
            [srvElement]="serverElement"
            [name]="serverElement.name">
          <p class="card-text" #paragraphContent>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div>
  